* {      
    font-family: 'Francois One', sans-serif;
}

/*Cabeçalho*/
header{
    width: 100%;
    height: 50px;
    top: 0;
    left: 0;
    background-color: #141f27;
    position: fixed;
}

/*Icones do menu*/
.icon-menu{
    position: fixed;
    font-size: 25px;
    padding: 5px;
    width: 40px;
    height: 30px;
    text-align: center;
    background-color: #141f27;
    color: white;
    cursor: pointer;
    transition: all.4s;
    left: 30px;
    top: 5px;
    border-radius: 0px;
}

.icon-menu:hover{
    background-color: #205370;
}

.chk{
    position: absolute;
}

/*O menu*/
.menu{
    height: 100%;
    position: fixed;
    background-color: #141f27;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: all.2s;
}

#contatos{
    width: 250px;
    left: -250px;
}


#contatos:target{
    transform: translateX(250px)

}

#principal{
   width: 300px;
   left: -300px;
   
}

/*efeitos do menu*/
.bg {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: fixed;
    background-color: rgba(0,0,0,.6);
    display: none;
    }


#chk:checked ~ .bg{
    display: block;
}
    
#chk:checked ~ #principal{
    transform: translateX(300px);
}

/*Efeitos links*/
ul{
    list-style: none
}

ul li a{
    display: block;
    font-size: 30px;
    padding: 20px;
    border-bottom: solid 1px #205370;
    color: white;
    text-decoration: none;
    transition: all.2s;

}
ul li a:hover{
    background-color: none;
}

ul li span {
    float: right;
    padding-right: 10px;
}

#contatos{
    width: 250px;
    left: -250px;
}

#contatos:target{
    transform: translateX(250px)

}

#projeto{
    width: 300px;
    left: -300px;
}

#projeto:target{
    transform: translateX(250px)

}

/*Botão Voltar*/
.voltar{
    margin-top: 60px;
    border-left: solid 20px #205370;
}

/* Pricipal*/
body{
    width:100%;
    background-color: #011627;
}

/* Logo temporaria*/
.logo{
    margin: 0 auto;
    margin-top:30px;
    display: flex;
    justify-content: flex-start;
    width: 300px;
    height: 250px;
    align-items: center;
}

/*Texto principal*/
.texto {
    display: flex;
    justify-content: flex-start;
    flex-flow: column wrap;
    font-size: 27px;
    padding: 20px;
    align-items: baseline ;
    color: white;
}

/*titulos*/

.tema{
    display: flex;
    text-align: center;
    justify-content: flex-start;
    padding: 2px;
    font-size: 30px;
    font-family: 'Francois One', sans-serif;
    color:white;
    flex-flow: column ;
}

/*icones*/

.icone {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 30px;
    padding: 2px;
    flex-flow: column ;
}

.icone:hover {
    color: #205370;
}

a:link{
    text-decoration: none;
}


.iconelink {
    display: flex;
    text-align: center;
    justify-content: flex-start;
    font-size: 30px;
    flex-flow: column ;
    font-family: 'Francois One', sans-serif;
    color:white;
    flex-flow: column ;
}

.iconelink:hover {
    color: #205370;
}

/*Botão*/
Button {
    background-color:transparent;
    border:4px solid white;
    color:white;
    font-size:10px;
    padding:15px 30px;
}

Button:hover {
    color: black;
    background-color: white;
    transition: all.6s;
}

.ButtonAmerican {
    background-color:transparent;
    border:4px solid white;
    color:white;
    font-size:10px;
    padding:15px 30px;
}

.Buttonamerican:hover {
    color: white;
    background-color: royalblue;
    border-color: royalblue;
    transition: all.3s;
}

@media all and (min-width: 768px) {
    /*Cabeçalho*/
    header{
        width: 100%;
        height: 50px;
        top: 0;
        left: 0;
        background-color:#141f27;
        position: fixed;
    }
    
    /*Icones do menu*/
    .icon-menu{
        position: fixed;
        font-size: 25px;
        padding: 5px;
        width: 40px;
        height: 30px;
        text-align: center;
        background-color: #141f27;
        color: white;
        cursor: pointer;
        transition: all.4s;
        left: 30px;
        top: 5px;
        border-radius: 0px;
    }
    
    .icon-menu:hover{
        background-color: #205370;
    }
    
    .chk{
        position: absolute;
    }
    
    /*O menu*/
    .menu{
        height: 100%;
        position: fixed;
        background-color: #011627;
        top: 0;
        left: 0;
        overflow: hidden;
        transition: all.2s;
    }
    
    #contatos{
        width: 250px;
        left: -250px;
    }
    
    #contatos:target{
        transform: translateX(250px)

    }
    
    #projeto{
        width: 250px;
        left: -250px;
    }
    
    #projeto:target{
        transform: translateX(250px)

    }
    
    #principal{
       width: 300px;
       left: -300px;
       
    }
    
    .bg {
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        position: fixed;
        background-color: rgba(0,0,0,.6);
        display: none;
    }
    
    #chk:checked ~ .bg{
            display: block;
    }
        
    #chk:checked ~ #principal{
        transform: translateX(300px);
    }
    
    ul{
        list-style: none
    }
    
    ul li a{
        display: block;
        font-size: 30px;
        padding: 10px;
        border-bottom: solid 1px #205370;
        color: white;
        text-decoration: none;
        transition: all.2s;

    }
    
    ul li a:hover{
        background-color:  #205370;
    }
    
    ul li span {
        float: right;
        padding-right: 10px;
    }
    
    /*Botão Voltar do menu*/
    .voltar{
        margin-top: 60px;
        border-left: solid 20px #205370;
    }
    
    /*Tema dos titulos*/
    .tema{
        display: flex;
        text-align: center;
        justify-content: flex-start;
        font-size: 55px;
        flex-flow: column ;
        font-family: 'Francois One', sans-serif;
        color:white;
    }
       
    .text span {
        display: flex;
       
    }

    .texto {
        display: flex;
        justify-content: flex-start;
        flex-flow: column wrap;
        font-size: 30px;
        padding: 30px;
        align-items: baseline ;
        color: white;
    }
    
    
    /*Foto temporaria*/
    .logo {
        margin: 0 auto;
        margin-top:30px;
        display: flex;
        justify-content: flex-start;
        width: 400px;
        height: 350px;
        align-items: center;
    }

    /*Icones*/
    .icone {
        flex-flow: row wrap;
        margin-bottom: 10px;
        font-size: 44px;
        color: white;
        font-size: 70px;
        padding: 2px;
        cursor: pointer;
    }
    
    .icone:hover {
        color: #205370;
    }
    
    .iconelink {
        display: flex;
        text-align: center;
        justify-content: flex-start;
        font-size: 30px;
        flex-flow: column ;
        font-family: 'Francois One', sans-serif;
        color:white;
    }
    
    .iconelink:hover {
        color: #205370;
    }

    
    a:link{
        text-decoration: none;
    }
    /*Botão*/
    Button {
        background-color:transparent;
        border:4px solid white;
        color:white;
        font-size:10px;
        padding:15px 30px;
    }
    
    Button:hover {
        color: black;
        background-color: white;
        transition: all.6s;
    }

    .ButtonAmerican {
        background-color:transparent;
        border:4px solid white;
        color:white;
        font-size:10px;
        padding:15px 30px;
    }
    
    .Buttonamerican:hover {
        color: white;
        background-color: royalblue;
        border-color: royalblue;
        transition: all.3s;
    }
}